$orange: #da6220;
$offwhite: #ede8d1;
$white: #ffffff;
$black: #242125;
$grey: #68636d;
$green: #477d14;




// Update Bulma's global variables
$body-family: "Odibee Sans", sans-serif;
$body-color: $black;
$primary: $orange;
$success: $green;
$warning: $grey;
$info: $offwhite;
$link: $white;
$danger: $black;
$body-background-color: $offwhite;
$title-font-size: 3rem !important;
$subtitle-font-size: 2.5rem !important;
$list-style-type: none;
$breadcrumb-item-padding-vertical: 3;
$breadcrumb-item-color: $black;
$breadcrumb-item-hover-color: $orange;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
