$orange: #da6220;
$cream: #ede8d1;
$white: #ffffff;
$black: #242125;
$grey: #68636d;
$bulma-red: #ff3860




//Bulma Color Assignment
$body-color: $black;
$primary: $orange;
$warning: $bulma-red;
$link: $grey;
$danger: $black;
$info: $cream;
$body-background-color: $cream;
$breadcrumb-item-color: $black;
$breadcrumb-item-hover-color: $orange;

//Padding + Margin
$breadcrumb-item-padding-vertical: 3;

//Bulma Inputs(form)
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//List Style
$list-style-type: none;
