//Bulma Typography Assignment
$title-font-size: 3rem !important;
$subtitle-font-size: 2.5rem !important;
$is-family-monospace: "Questrial", sans-serif;
$family-primary: "Odibee Sans", cursive;
$family-secondary: "Satisfy", cursive;