/* tags */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: rgb(255, 247, 235);
}

/* navbar */
.nav-container {
  background-color: slateblue;
  display: flex;
  flex-direction: column;
  color: rgb(255, 247, 235);
  height: 140px;
}

.nav-container div {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  margin-left: 20px;
}

.nav-container div>img {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.nav-container div>img:hover {
  animation-duration: 700ms;
}

nav {
  display: flex;
  height: 40px;
  align-items: center;
}


nav h3 {
  margin: 0 40px;
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

nav h3:hover {
  font-size: 1.6em;
  transition: ease-in-out 0.2s;
}

.navBarLogo {
  height: 20px;
  filter: invert(100%);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

/* #logoText {
  color: rgb(255, 247, 235);
  ;
  margin-left: 5px;
} */

.navBarShop {
  background-color: slategrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 100%;
}

/* NotFoundPage */
.notFoundContainer {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fofContainer {
  font-size: 280px;
}

.fofContainer img {
  height: 200px;
}

.not-found-button>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 180px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 40px 20px;
  color: lightblue;
  font-size: 1em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.not-found-button>button:hover {
  background-color: white;
  border: 3px solid darkslateblue;
  width: 180px;
  box-shadow: 10px 10px darkslateblue;
  height: 40px;
  color: darkslateblue;
  font-size: 1em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}


/* ids */
#root {
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* classes */


/*form*/


/* Authd User Styles */
.edit-product-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-menu-container>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 180px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 40px 20px;
  color: lightblue;
  font-size: 1em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.edit-product-menu-container>button:hover {
  background-color: white;
  border: 3px solid darkslateblue;
  width: 180px;
  box-shadow: 10px 10px darkslateblue;
  height: 40px;
  color: darkslateblue;
  font-size: 1em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.product-list-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px;
  border: 3px solid lightblue;
  padding: 20px;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
  animation: 0.5s ease-in-out 0s 1 slideDown;
}

.product-list-container:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px;
  border: 3px solid darkslateblue;
  padding: 20px;
  box-shadow: 15px 15px darkslateblue;
  transition: ease-in-out 0.2s;
}

.product-list-container>img {
  width: 60px;
}

.product-list-container>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 100px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.product-list-container>button:hover {
  background-color: white;
  border: 3px solid darkslateblue;
  width: 100px;
  box-shadow: 5px 5px darkslateblue;
  height: 40px;
  margin: 10px;
  color: darkslateblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.edit-container {
  border: 3px solid lightblue;
  text-align: center;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
  animation: 0.5s ease-in-out 0s 1 slideDown;
}

.edit-container:hover {
  border: 3px solid darkslateblue;
  box-shadow: 15px 15px darkslateblue;
  transition: ease-in-out 0.2s;
}

.edit-container>h2 {
  margin-top: 20px;
}

.edit-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.edit-container form>input {
  border: 3px solid lightblue;
  height: 30px;
  margin: 5px 0;
}

.edit-container form>input:hover {
  border: 3px solid darkslateblue;

}

.edit-container form>textarea {
  border: 3px solid lightblue;
  height: 30px;
  margin: 5px 0;
  height: 70px;
}

.edit-container form>textarea:hover {
  border: 3px solid darkslateblue;
}

.edit-container form>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 100px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.edit-container form>button:hover {
  background-color: white;
  border: 3px solid darkslateblue;
  width: 100px;
  box-shadow: 5px 5px darkslateblue;
  height: 40px;
  margin: 10px;
  color: darkslateblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.add-product-container {
  border: 3px solid lightblue;
  text-align: center;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
  animation: 0.5s ease-in-out 0s 1 slideDown;
}

.add-product-container:hover {
  box-shadow: 15px 15px darkslateblue;
  border: 3px solid darkslateblue;
}

.add-product-container>h2 {
  margin-top: 20px;
}

.add-product-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.add-product-container form>input {
  border: 3px solid lightblue;
  height: 30px;
  margin: 5px 0;
}

.add-product-container form>input:hover {
  border: 3px solid darkslateblue;

}

.add-product-container form>textarea {
  border: 3px solid lightblue;
  height: 30px;
  margin: 5px 0;
  height: 70px;
}

.add-product-container form>textarea:hover {
  border: 3px solid darkslateblue;
}

.add-product-container form>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 100px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.add-product-container form>button:hover {
  border: 3px solid darkslateblue;
  box-shadow: 5px 5px darkslateblue;
  color: darkslateblue;
  transition: ease-in-out 0.2s;
}

.signup-container {
  text-align: center;
  border: 3px solid lightblue;
  margin: 50px 40%;
  padding: 20px 0;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
}

.signup-container:hover {
  border: 3px solid darkslateblue;
  box-shadow: 15px 15px darkslateblue;
  transition: ease-in-out 0.2s;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px 40px;
}

.signup-container form>input {
  height: 30px;
  margin: 5px 0;
  border: 3px solid lightblue;
  text-align: center;
}

.signup-container form>input:hover {
  border: 3px solid darkslateblue;
}

.signup-container form>button {
  background-color: white;
  border: 3px solid lightblue;
  /* width: 100px; */
  box-shadow: 5px 5px lightblue;
  height: 40px;
  /* margin: 10px; */
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.signup-container form>button:hover {
  border: 3px solid darkslateblue;
  box-shadow: 5px 5px darkslateblue;
  color: darkslateblue;
  transition: ease-in-out 0.2s;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container>h1 {
  color: lightblue;
  border: 6px solid lightblue;
  /* background-color: lightblue; */
  /* box-shadow: 7px 7px slateblue; */
  padding: 20px;
  font-size: 2.7em;
  transition: ease-in-out 0.2s;
}

/* .landing-container>h1:hover {
  color: lightblue;
  background-color: slateblue;
  transition: ease-in-out 0.2s;
} */

.landing-container>img {
  /* margin: 60px 0; */
  /* margin-top: 80px; */
  margin-bottom: 60px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  /* border: 20px solid slateblue; */
  /* border-left: 20px solid slateblue;
  border-right: 20px solid slateblue; */
}

/* all albums styles */

.landing-header {
  text-align: center;
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 4em;
  color: slateblue;
  border: 6px solid slateblue;
  /* box-shadow: 10px 10px slateblue; */
  padding: 20px;
}

.all-product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 10%;
  /* height: 900px; */
  padding: 40px 0;
  border: 6px solid lightblue;
  box-shadow: 13px 13px lightblue;
  /* background-color: slateblue; */
}



.all-product-container>div {
  margin: 40px;
  border: 3px solid lightblue;
  padding: 20px 30px;
  transition: ease-in-out 0.2s;
  background-color: rgb(255, 247, 235);
  box-shadow: 5px 5px lightblue;
}

.all-product-container>div:hover {
  border: 3px solid slateblue;
  box-shadow: 10px 10px slateblue;
  transition: ease-in-out 0.2s;
}

.all-product-container>div button {
  border: 3px solid lightblue;
  background-color: rgb(255, 247, 235);
  color: lightblue;
  font-weight: 600;
  width: 110px;
  height: 40px;
  box-shadow: 5px 5px lightblue;
  /* margin-top: 12px;
  margin-left: 90px; */
  float: right;
  transition: ease-in-out 0.2s;
}

.all-product-container>div button:hover {
  border: 3px solid slateblue;
  box-shadow: 8px 8px slateblue;
  transition: ease-in-out 0.2s;
  color: slateblue;
}

.all-product-container>div div {
  /* margin-top: 5px; */
  width: 140px;
  padding: 10px;

}

.all-product-container>div h4 {
  font-weight: 900;
  color: black;
}

.all-product-container>div p {
  font-weight: 400;
  color: black;
}

.all-product-container>div img {
  width: 200px;
}

.single-album-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.single-album-container>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-album-container>div h2 {
  margin: 20px;
  width: 400px;
}

.single-album-container>div h4 {
  margin: 20px;
}

.single-album-container>div p {
  margin: 20px;
}

.single-album-container>div button {
  border: 3px solid lightblue;
  background-color: rgb(255, 247, 235);
  color: lightblue;
  font-weight: 600;
  width: 100%;
  height: 40px;
  box-shadow: 5px 5px lightblue;
  margin: 20px;
  transition: ease-in-out 0.2s;
}

.single-album-container>div button:hover {
  border: 3px solid slateblue;
  box-shadow: 8px 8px slateblue;
  transition: ease-in-out 0.2s;
  color: slateblue;
}

.single-album-desc {
  width: 350px;
}

.user-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px;
  border: 3px solid lightblue;
  padding: 20px;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
  animation: 0.5s ease-in-out 0s 1 slideDown;
}

.user-wrapper:hover {
  border: 3px solid darkslateblue;
}

.user-wrapper>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 100px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.user-wrapper>button:hover {
  border: 3px solid darkslateblue;
  box-shadow: 5px 5px darkslateblue;
  color: darkslateblue;
  transition: ease-in-out 0.2s;
}

.admin-dashboard h1 {
  margin-top: 40px;
  text-align: center;
}

.account-welcome {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-welcome>button {
  background-color: white;
  border: 3px solid lightblue;
  width: 100px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.7em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.account-welcome>button:hover {
  border: 3px solid darkslateblue;
  box-shadow: 5px 5px darkslateblue;
  color: darkslateblue;
  transition: ease-in-out 0.2s;
}

.account-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-container h3 {
  margin: 10px 0;
}

.account-container button {
  background-color: white;
  border: 3px solid lightblue;
  width: 180px;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.9em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.account-container button:hover {
  border: 3px solid darkslateblue;
  box-shadow: 5px 5px darkslateblue;
  color: darkslateblue;
  transition: ease-in-out 0.2s;
}

.footer-container {
  display: flex;
  margin-top: 170px;
  justify-content: space-between;
  background-color: slateblue;
  padding: 40px 10%;
  color: rgb(255, 247, 235);
  height: 250px;
}

.footer-container h3 {
  margin-bottom: 8px;
}

.footer-container i {
  margin-right: 10px;
}

.footer-big-text {
  width: 350px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid lightblue;
  margin: 50px 30%;
  padding: 20px;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
}

.cart-container:hover {
  border: 3px solid slateblue;
  box-shadow: 15px 15px slateblue;
  transition: ease-in-out 0.2s;
}

.cart-container h1 {
  text-align: center;
}

.cart-container h3 {
  margin: 10px 0;
}

.cart-container button {
  background-color: white;
  border: 3px solid lightblue;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.9em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.cart-container button:hover {
  border: 3px solid slateblue;
  color: slateblue;
  box-shadow: 5px 5px slateblue;
  transition: ease-in-out 0.2s;
}

.confirmation-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid lightblue;
  margin: 50px 30%;
  padding: 20px;
  box-shadow: 10px 10px lightblue;
  transition: ease-in-out 0.2s;
}

.confirmation-page-container:hover {
  border: 3px solid slateblue;
  box-shadow: 15px 15px slateblue;
  transition: ease-in-out 0.2s;
}

.confirmation-page-container h1 {
  text-align: center;
}

.confirmation-page-container h3 {
  text-align: center;
  margin: 10px 0;
}

.confirmation-page-container button {
  background-color: white;
  border: 3px solid lightblue;
  box-shadow: 5px 5px lightblue;
  height: 40px;
  margin: 10px;
  color: lightblue;
  font-size: 0.9em;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.confirmation-page-container button:hover {
  border: 3px solid slateblue;
  color: slateblue;
  box-shadow: 5px 5px slateblue;
  transition: ease-in-out 0.2s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#link-style {
  text-decoration: none;
}