/* tags */
* {
    box-sizing: border-box;
  }
  
  
  
  /* ids */
  #root {
    height: 100%;
    width: 100%;
  }
  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  /* classes */
  

  /*form*/

  