

.navbar 
	&.has-logo-above 
		flex-direction: column 

.navbar-item
	&.field
		width: 100%

.navbar-brand
	justify-content: space-between

.navbar-item
	& .force-center
	align-item: center
	
a.navbar-item
	padding: 0

.navbar-item img
	max-height: 6rem !important
	
.hero-video video
	width: 100%




		

	

  
